@use './base/resets';
@use './layout/header';
@use './layout/main';
@use './layout/footer';


body {
    background-color: palevioletred;
    height: 100%;
    margin-left: 0.2rem;

    @media screen and (min-width: 992px) {
        font-size: 1.2em;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 16rem;
}
}