.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    h2 {
        font-style: italic;
        margin-bottom: 0.2rem;
    }

    .web-content {
        margin-top: 4rem;
    }

    .proyect-content {
        margin-top: 4rem;
    }
}

.lateral-bar {
    display: none;
    position: absolute;
    background: rgba (0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    top: 0; left: 0;

    &__lateral-list {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        max-width: 250px;
        background: #1c1c1c;
        height: 100vh;
        position: relative;
    }

    & &__lateral-item {
        text-align: center;
        padding: 1.2rem;
    }

    & &__lateral-item a {
        text-decoration: none;
        color: white;
    }   
}